.cadGeralWelcome{
    width: 100%;
    height: 400px;
    margin: auto;
    background-image: url('../../assets/imagens/bemvindos.png');
    background-position: center;
    background-size: cover;
}


@media screen and (max-width: 426px){ 
    .cadGeralWelcome{
      width: 100%;
      height: 200px;
    }
  }